src/main/xml/FullConfigSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="obstacles">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="obstacle" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:int" name="height"/>
                                        <xs:element type="xs:int" name="width"/>
                                        <xs:element name="position">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:int" name="distanceToLeft"/>
                                                    <xs:element type="xs:int" name="distanceToRight"/>
                                                    <xs:element type="xs:int" name="distanceFromCL"/>
                                                    <xs:element type="xs:string" name="directionFromCL"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="airports">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="airport" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="code"/>
                                        <xs:element name="runway" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:int" name="ID"/>
                                                    <xs:element name="left">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:int" name="degree"/>
                                                                <xs:element type="xs:int" name="TORA"/>
                                                                <xs:element type="xs:int" name="TODA"/>
                                                                <xs:element type="xs:int" name="ASDA"/>
                                                                <xs:element type="xs:int" name="LDA"/>
                                                                <xs:element type="xs:int" name="threshold"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="right">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:int" name="degree"/>
                                                                <xs:element type="xs:int" name="TORA"/>
                                                                <xs:element type="xs:int" name="TODA"/>
                                                                <xs:element type="xs:int" name="ASDA"/>
                                                                <xs:element type="xs:int" name="LDA"/>
                                                                <xs:element type="xs:int" name="threshold"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>