src/main/resources/xml/ObstacleSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="obstacles">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="obstacle" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:int" name="height"/>
                            <xs:element type="xs:int" name="width"/>
                            <xs:element name="position" maxOccurs="1" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:int" name="distanceToLeft"/>
                                        <xs:element type="xs:int" name="distanceToRight"/>
                                        <xs:element type="xs:int" name="distanceFromCL"/>
                                        <xs:element type="xs:string" name="directionFromCL"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>